fastapi
ecs-logging
aws_embedded_metrics
asgi-logger
pydantic_settings
dnspython
langchain-core
langchain-openai
langchain
langchain-community
langgraph
faiss-cpu
requests
pandas
pymongo
pymongo[aws,snappy,zstd,encryption]
httpx
uvicorn
